doctype html
html(lang="en")
  head
    title=header
  body 
    h1 #{header}
    p #{body}
    if adjecent
      each route in adjecent
        div 
          p #{route.description}
          a(href='/books/' + bookName + '/' + route.key)
            #{route.key}
            